*{
    box-sizing: border-box;
}

body {
    font-family: "Science Gothic", sans-serif;
}

.container{
    background-color: #121212;
    width: 700px;
    color: #ffffff;
    margin: auto;
    padding: 10px;
    border: 8px solid plum;
}

.contatos h2{
    text-align: center;
}

.contatos ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.contatos li{
    margin-bottom: 8px;
}

.contatos a{
    text-decoration: none;
    color: black;
}
.contatos a:hover{
    color:blue
}