* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-size: 16px;
    font-family: arial, Arial, Helvetica, sans-serif;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
}

main {
    max-width: 840px;
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
        width: 250px;
        height: auto;
    }
aside h2 {
    position: absolute;
    top: 25px;
    left: 150px;


}
main img{
    width: 150px;
    height: auto;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #333;
    padding: 1px;
}
p {
    margin: 1rem;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.indent {
    padding-left: 2rem;
}