header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #000;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 30px #333;
}

section {
    margin: 20px 0;
    border: 4px solid rgb(0,  0, 0 /10%);
    padding: 15px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;

}

footer{
     background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: .9rem;
}